@import url('https://fonts.googleapis.com/css2?family=Alata&family=Liter&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Schoolbell&family=TASA+Orbiter:wght@400..800&display=swap');


body{
    text-wrap: no-wrap;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

html{
    width: 100%;
}

#logo{
    margin-left: 5vw;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: white;
    text-wrap: nowrap;

    @media (max-width: 900px) {
        font-size: 20px;
        margin-left: 0vw;
    }

    @media (max-width: 700px) {
        font-size: 15px;
        margin-left: 0vw;
    }

}

.Featured{
    width: 100%; height: 45vw;
    padding-top: 5vw;

    @media (max-width: 900px) {
        padding-top: 12vw;
    }

    @media (max-width: 600px) {
        padding-top: 20vw;
    }
}

.FeaturedLabel{
    width: 100%; background-color: blueviolet; height: 9vw;
}

.logo{
    visibility: hidden;
}

.glow-button {
			z-index: 1000;
			font-size: 16px;
            padding: 9px 24px;
            border-radius: 25px;
            font-weight: 900;
            color: #000000;
			padding: 11px 24px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            border: 2px;
            cursor: pointer;

            @media (max-width: 900px) {
                font-size: 12px;
                padding: 1px 1px;
            }
			
        }

.glow-button3 {
			z-index: 1000;
			font-size: 1vw;
            border-radius: 25px;
            font-weight: 900;
            color: #000000;
            padding: 0.5vw 1vw;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            border: 2px;
            cursor: pointer;

            @media (max-width: 900px) {
                font-size: 2vw;
            }
			
        }

.glow-button2 {
			z-index: 1000;
			font-size: 1vw;
			margin-left: 1%;
            padding: 12px 24px;
            border-radius: 25px;
            font-weight: 900;
            color: #8698cf;
			padding: 11px 24px;
            font-weight: 600;
            color: white;
            transition: all 0.3s ease-in-out;
            border: 2px;
            cursor: pointer;
			
        }

.mainoption{
    cursor: pointer;
    font-size: 2vw;
    margin-bottom: 0.2vw; 
    transition: ease-in-out 0.1s;
}

.mainoption:hover{
    transform: translateX(1vw);
    text-decoration: underline;

}

span{
    transition: ease-in-out 0.2s;
}

span:hover{

    transform: scale(1.1);
    cursor: pointer;
}

.growbox{
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
.growbox:hover{
    transform: scale(1.05);
}